<div class="resorts-wrap">

  <div class="resortlist">
    <h1>Resorts</h1>
    <h3>Select a resort for detailed weather conditions and snow reports</h3>
  </div>

  <div class="resorts">
    <%= link_to 'Back', controller: 'welcome' %>
  </div>

  <br>

  <div class="image-size1">
    <a href="/resorts/heavenly">
      <%= image_tag "resortlogos/heavenly.png", :width => '250' %>
    </a>
  </div>

  <div class="image-size2">
    <a href="/resorts/kirkwood">
      <%= image_tag "resortlogos/kirkwood.png", :width => '250' %>
    </a>
  </div>

  <div class="image-size3">
    <a href="/resorts/mammoth-lakes">
      <%= image_tag "resortlogos/mammoth.png", :width => '250' %>
    </a>
  </div>

  <div class="image-size4">
    <a href="/resorts/sierra">
      <%= image_tag "resortlogos/sierra_logo.png", :width => '250' %>
    </a>
  </div>

  <div class="image-size5">
    <a href="/resorts/squaw">
      <%= image_tag "resortlogos/squawlogo.png", :width => '250' %>
    </a>
  </div>

  <div class="image-size6">
    <a href="/resorts/sugarbowl">
      <%= image_tag "resortlogos/sugarbowl.png", :width => '250' %>
    </a>
  </div>

  <div class="image-size7">
    <a href="/resorts/northstar">
      <%= image_tag "resortlogos/northstar.png", :width => '250' %>
    </a>
  </div>

</div>


