<!DOCTYPE html>
<html lang="en">
<head>
  <body>
    <meta charset="UTF-8">

    <%= stylesheet_link_tag "resorts.scss" %>

    <div class="resortlist">
      <h1>Resorts</h1>
    </div>

    <div class="resorts">
      <%= link_to 'Back', controller: 'welcome' %>
    </div>

    <div class="image-size1">
      <a href="/resorts/heavenly">
        <%= image_tag "resortlogos/heavenly.gif", :size => '250x100' %>
      </div>

      <div class="image-size2">
        <a href="/resorts/kirkwood">
          <%= image_tag "resortlogos/kirkwood.jpg", :size => '250x100' %>
        </div>

        <div class="image-size3">
        <a href="/resorts/mammoth-lakes">
            <%= image_tag "resortlogos/mammoth.jpeg", :size => '250x100' %>
          </div>

          <div class="image-size4">
            <a href="/resorts/sierra">
              <%= image_tag "resortlogos/sierra_logo.png", :size => '250x100' %>
            </div>

            <div class="image-size5">
              <a href="/resorts/squaw">
                <%= image_tag "resortlogos/squaw.png", :size => '250x100' %>
              </a>
            </div>

            <div class="image-size6">
              <a href="/resorts/sugarbowl">
                <%= image_tag "resortlogos/sugarbowl.png", :size => '250x100' %>
              </div>


            </head>

          </body>
          </html>



